@import url('https://fonts.googleapis.com/css?family=Varela+Round');

//変数
$breakpoints: (
    'sp': 'screen and (max-width: 840px)',
    'tab': 'screen and (max-width: 1099px)',
    'pc': 'screen and (min-width: 1100px)',
) !default;


$bgColor-All    : rgb(245, 245, 245);
$bgColor-Content    : white;
$bgColor-Ad     : rgb(255, 255, 255);
//変数

//関数
@mixin mq($breakpoint: pc) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
@mixin center {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
//右の広告を表示するか
@mixin rightAd($rightAdVisible){
    @if $rightAdVisible == "false"{
        #koukoku {
            #migi {
                display: none;
            }
        }
    } @else if$rightAdVisible == "true"{
        #koukoku {
            #migi {
                display: block;
            }
        }
    }
}
//関数

/* メイン */
html{
    &,body{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    body{
        font-family: 'Varela Round', sans-serif;
    }
}
.main {
    position: absolute;
    margin-top: 60px;
    width: 100%;
    height: 100%;
    background-color: $bgColor-All;
    margin: 0;
    .MainContent{
        @include center;
        border-radius: 10px;
        background-color: $bgColor-Content;
        height: calc(100% - 20px);
        margin-top: 10px;
        h1 {
            margin: 0;
        }
    }
    #koukoku {
        #migi {
            position: absolute;
            display: block;
            width: 160px;
            height: 600px;
            right: 10px;
            margin-top: 10px;
            background-color: $bgColor-Ad;
        }
    }
    @include mq(){      //  pcで表示した場合
        .MainContent{
            min-width: 600px;   //幅の最小値を設定
            width: 60%;         //ページ幅の80%に固定して可変させる
        }
        @include rightAd("true");
    }
    @include mq("tab"){     //タブレットで表示した場合
        .MainContent{
            width: 450px;
        }
        @include rightAd("true");
    }
    @include mq("sp"){      //スマホで表示した場合
        .MainContent{
            width: 300px;
        }
        @include rightAd("false");
    }
    
}
/* メイン */