#koukoku {
    width: 160px;
    height: 600px;
    margin-top: calc(50vh - 300px - 60px);
}
#hidari {
    position: absolute;
    left: 10px;
    background-color: black;
}
#migi {
    position: absolute;
    right: 10px;
    background-color: black;
}