@import url('https://fonts.googleapis.com/css?family=Varela+Round');

//変数
$breakpoints: (
    'MCAdMax': 'screen and (max-width: 520px)',
    'sp': 'screen and (max-width: 700px)',
    'mid': 'screen and (max-width: 840px)',
    'tab': 'screen and (max-width: 1099px)',
    'pc': 'screen and (min-width: 1100px)',
) !default;


$bgColor-All    : rgb(245, 245, 245);
$bgColor-Content    : white;
//変数

//関数
@mixin mq($breakpoint: pc) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
@mixin center {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
@mixin MCTrim(){
    width: calc(100% - 20px - 160px - 20px);
}
//右の広告を表示するか
@mixin rightAd($rightAdVisible){
    @if $rightAdVisible == "false"{
        .main{
            #koukoku {
                #migi {
                    display: none;
                }
            }
        }
    } @else if$rightAdVisible == "true"{
        .main{
            #koukoku {
                #migi {
                    display: block;
                }
            }
        }
    }
}
//関数

/* メイン */
html{
    &,body{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    body{
        font-family: 'Varela Round', sans-serif;
    }
}
.main {
    position: absolute;
    margin-top: 60px;
    width: 100%;
    height: 100%;
    background-color: $bgColor-All;
    margin: 0;
    .MainContent{
        border-radius: 10px;
        background-color: $bgColor-Content;
        height: calc(100% - 20px);
        margin-top: 10px;
        .Title {
            margin: 0;
            width: 100%;
            text-align: center;
        }
        //AD
        .ContentAd{
            .ContentAd1{
                position: absolute;
                margin-left: 10px;
                height: 60px;
                width: 468px;
            }
        }
        //AD
    }
    .pages{
        position: absolute;
        border-radius: 10px;
        background-color: white;
        left: 20px;
        margin-top: 50px;
        width: 160px;
        p{
            width: 100%;
            margin: 0;
            padding: 0;
            text-align: center;
            border-bottom: 1px solid;
        }
        .pageList{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                width: 100%;
                cursor: pointer;
                a{
                    color: black;
                    font-weight: bold;
                    text-decoration: none;
                    margin: 5px;
                    position: relative;
                    display: inline-block;
                    &::after{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        content: '';
                        width: 0;
                        height: 2px;
                        background-color: rgb(49, 170, 226);
                        transition: width 0.3s;
                    }
                }
                &:hover{
                    a::after{
                        width: 100%;
                    }
                }
            }
        }
    }
    #koukoku {
        #migi {
            position: absolute;
            display: block;
            width: 160px;
            height: 600px;
            right: 10px;
            margin-top: 10px;
        }
    }

}
//画面サイズによってスタイルを変える
@include mq(){      //  pcで表示した場合
    .MainContent{
        @include center;
        min-width: 600px;   //幅の最小値を設定
        width: 60%;         //ページ幅の80%に固定して可変させる
        .Title{
            font-size: 6vw;
        }
    }
    .pages {
        display: block;
    }
    @include rightAd("true");
}
@include mq("tab"){     //タブレットで表示した場合
    .MainContent{
        @include MCTrim();
        margin-left: 10px;
        .Title{
            font-size: 6vw;
        }
    }
    .ContentAd{
        .ContentAd1{

        }
    }
    .pages {
        display: none;
    }
    @include rightAd("true");
}
@include mq("mid"){      //スマホ(少し大きい)で表示した場合
    .MainContent{
        @include MCTrim();
        .Title{
            font-size: 6vw;
        }
    }
    .pages {
        display: none;
    }
    @include rightAd("true");
}
@include mq("sp"){      //スマホ(小さい)で表示した場合
    .MainContent{
        width: calc(100% - 20px);
        .Title{
            font-size: 50.4px;
        }
    }
    .pages {
        display: none;  //左のページリストを非表示
    }
    @include rightAd("false");
}
@include mq("MCAdMax"){
    .ContentAd{
        .ContentAd1{
            display: none;
        }
    }
}
//画面サイズによってスタイルを変える
/* メイン */